@import '../../styles/variables.scss';
.banner-bg{
  background: url(../../assets/images/banner.jpg);
  //padding:0 15px;
  position: relative;
  height: 650px;
}

.ui.menu .item>img:not(.ui) {
  width: 10.5em;
}
.inverted.teal .ui.avatar.image {
  width: 45px  !important;
  height: auto !important;
  margin: 0;
}
.ui.menu {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  box-shadow:none;
  font-family: Lato-Regular;
  font-size: 14px;
  border-radius: 0;
  .ui.search .prompt{
    border-radius: 4px;
    padding: 15px;
  }
  .ui.search .prompt~.search.icon{
    color: $theme-color2;
    opacity: 1;
  }
  a.item{
    color: $white;
    text-transform: uppercase;
    &:hover, &:focus{
        color: $white;
        background: transparent;
        font-family: 'Lato-Bold';
    }
    &:before {
       width: 0;
    }
    sm-search{
      width: 858px;

    }
  }
}
sm-dropdown .dropdown{
  height: 100%;
  color: $white !important;
  .text{
    text-transform: uppercase;
  }
  &:hover, &:focus{
    font-family: 'Lato-Bold';
      color: $white;
      background: transparent !important;
  }
  &:before {
      width: 0 !important;
  }
}
.header_nav {
  width:100%;
  position:fixed;
  // top:20px;
  left:0;
 -webkit-transition:0.25s linear all;
 -moz-transition:0.25s linear all;
 -o-transition:0.25s linear all;
 transition:0.25s linear all;
 z-index: 99999;
 &.header_nav--big{
   top: 20px;
 }
 &.header_nav--small{
  top: 0;
}
}

.header_nav--small .ui.menu {
  background-color:$white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  a.item{
    color: $theme-color1;
    text-transform: uppercase;
    &:hover, &:focus{
        color: $theme-color1;
        background: transparent;
        font-family: 'Lato-Bold';
    }
    &:before {
      width: 0;
    }
  }
  sm-dropdown .dropdown{
    color: $theme-color1 !important;

    &:hover, &:focus{
      color: $theme-color1;
    }
  }
}
.inverted.teal .ui.avatar.image{
  width: 163px;
  height: 33px;
  margin: 0;
}
.banner-middle{
  color: $white;
  position: absolute;
  top: calc(50% - 75px);
  width: 100%;
  .welcome_text, .temp span{
    font-size: 18px;
    font-family: Lato-Bold;
  }
  .search-tab{
    background: #fbfbfb;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 4px;
    .ui.attached.tabular.menu{
        display: inline-block;
        border: 0;
        width: auto;
        min-height: auto;
        a{
          display: inline-block;
        }
    }
    .ui.tabular.menu .item{
      color:#888;
      font-family: 'Lato-Bold';
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1.4285em;
      border: 0;
      background: transparent;
      &.active, &:hover, &:focus{
        color: $theme-color2;
        border: 0;
        font-family: 'Lato-Bold';
      }
    }
    .ui.attached.segment{
        max-width:100%;
        width:100%;
        margin:10px 0 0 0;
        color:#888;
        background: $white;
        border-top: 1px solid #D4D4D5;
        padding: 10px;

        .ui.search .prompt{
          border-radius: 4px;
          padding: 15px;
        }
        .ui.search .prompt~.search.icon{
          color: $theme-color2;
          opacity: 1;
        }

    }
  }
  .text-find{
    color: $theme-color1;
    float: left;
    margin-left: 10px;
    margin-top: 1px;
    font-family: 'Lato-Bold';
    font-size: 14px;
  }
}
.banner-bottom{
  background: rgba(0,0,0,0.18);
  position: absolute;
  top: 75px;
  width: 100%;
  color: $white;
  padding: 15px 0;

  .circle{
    background: $white;
    color: $theme-color2;
    border-radius: 50%;
    padding: 4px 3px;
    margin-right: 10px;
    i{
      margin: 0;
      height: 17px;
      width: 17px;
    }
  }
  .temp{
    font-family: 'Lato-Bold';
  }
}

//sidebar
.ui.sidebar{
  top: 60px;
}

.header_logo{
  display: inline-block;
  a{
    display: inline-block;
  }
}
.menu_ui{
  display: inline-block;
}

.ui.inverted.teal.menu {
   background-color: $white;
}
.ui.vertical.menu .dropdown.item .menu {
  left: 0;
  top: 38px !important;
  width: 100%;
  position: relative;
}
.sidebar.ui.teal.menu{
  sm-dropdown .dropdown {
    height: auto;
    color: $text-color !important;
  }
  .ui.labeled.icon.button>.icon{
    left: 90%;
    background-color: transparent !important;
  }
  .dropdown.item>.icon.dropdown{
    display: none;
  }
  .active.item{
    color: $theme-color1 !important;
    background-color: transparent !important;
  }
}
//SIDEBAR accordian
.ui.accordion.styled{

  .title{
    color: $text-color;
    position: relative;
    .dropdown.icon{
      display: none;
    }
    &:hover, &.active{
        color: $theme-color1;
    }
    .plus.icon{
      position: absolute;
      right: 0;

    }
  }
  .content.active{
    background: $gray;
    padding-top: 0;
    padding-bottom: 0;
  }
  accordion-content .title, accordion-content .title:hover {
    color: $theme-color2 !important;
    .dropdown.icon{
      display: inline-block;
    }
  }
}


/*  search expand bar css */

$tl: 0.6s; // transition length

// .search-box {
//   transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
//   width: 40px;height: 40px;
//   border-radius: 20px;
//   border: none;
//   cursor: pointer;
//   background: transparent;
//   // background: rgb(235, 235, 235);

//   & + label .search-icon {    color: $white;    }

//   // &:hover {
//   //   color: white;
//   //   background: rgb(200, 200, 200);
//   //   box-shadow: 0 0 0 5px rgb(61, 71, 82);
//   //   & + label .search-icon {    color: white;    }
//   // }
//   &:focus {
//     transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
//     border: none;outline: none;
//     box-shadow: none;
//     padding-left: 15px;
//     cursor: text;
//     width: 300px;
//     border-radius: auto;
//     background: rgb(235, 235, 235);
//     color: black;
//     & + label .search-icon {    color: $theme-color1;;    }
//   }
//   &:not(:focus) {    text-indent:-5000px;    } // for more-graceful falling back (:not browsers likely support indent)
// }

// #search-submit {
//   position: relative;left: -5000px;
// }

// .search-icon {
//   position: relative;
//   left: -30px;
//   color: white;
//   cursor: pointer;
// }

