<!-- <div [ngClass]="{'header_nav':true, 'header_nav--big':!isShrunk, 'header_nav--small':isShrunk}">nav here</div> -->
<div class="banner-bg">
  <div class="main ui" [ngClass]="{'header_nav':true, 'header_nav--big':!isShrunk, 'header_nav--small':isShrunk}">
      <sm-menu >

          <a sm-item icon="sidebar big" (click)="menuSidebar.show({transition: 'overlay'})"></a>
          <a class="inverted teal" sm-item href="#/elements/menu"   *ngIf="!isShrunk" image="../../assets/images/logo.png"></a>
          <a class="inverted teal" sm-item href="#/elements/menu"   *ngIf="isShrunk" image="../../assets/images/logo2.png"></a>
          <!-- <input type="checkbox" id="nav" /><label for="sm-menu"></label> -->
          <!-- <a sm-item href="#/elements/menu" *ngFor="let item of items" [icon]="item?.icon">{{item?.title}}</a> -->
          <a sm-item href="#/elements/menu"  icon="home">Home</a>
          <sm-dropdown class="pointing link" title="Discover" [options]="{on: 'hover'}">
              <sm-item *ngFor="let item of discover ">{{item}}</sm-item>
          </sm-dropdown>
          <sm-dropdown class="pointing link" title="Connect" [options]="{on: 'hover'}">
            <sm-item *ngFor="let item of connect">{{item}}</sm-item>
          </sm-dropdown>
          <sm-dropdown class="pointing link" title="Share" [options]="{on: 'hover'}">
              <sm-item *ngFor="let item of share">{{item}}</sm-item>
          </sm-dropdown>
          <sm-dropdown class="pointing link" title="Work" [options]="{on: 'hover'}">
            <sm-item *ngFor="let item of work">{{item}}</sm-item>
          </sm-dropdown>
          <sm-dropdown class="pointing link" title="Admin" [options]="{on: 'focus'}">
            <sm-item *ngFor="let item of admin">{{item}}</sm-item>
          </sm-dropdown>


          <sm-menu class="menu right secondary icon">
              <a class="item">
                  <i class="search icon"></i>
              </a>
              <a class="item">
                  <i class="bell icon"></i>
              </a>

              <a sm-item href="#/elements/menu"
              image="http://semantic-ui.com/images/avatar/small/stevie.jpg"></a>


              <sm-sidebar class="left vertical inverted sidebar labeled menu teal huge mysidebar" #menuSidebar>


                  <!-- <a class="item">
                      <i class="home icon"></i>
                      Home
                  </a>
                  <a class="item">
                      <i class="block layout icon"></i>
                      Topics
                  </a>
                  <a class="item">
                      <i class="smile icon"></i>
                      Friends
                  </a> -->
                  <!-- <sm-dropdown class="pointing floating labeled icon button" icon="plus square outline" title="Nested" [options]="{on: 'focus'}">
                      <sm-item>Stevie</sm-item>
                      <sm-item>Stevie</sm-item>
                      <sm-item>Stevie</sm-item>
                      <div class="ui divider"></div>
                      <sm-item>
                          <sm-dropdown class="left pointing link" title="Stivie" [options]="{on: 'focus'}">
                                <sm-item>Stevie</sm-item>
                                <sm-item>Stevie</sm-item>
                                <sm-item>Stevie</sm-item>
                          </sm-dropdown>
                      </sm-item>
                    </sm-dropdown>
                    <sm-dropdown class="pointing floating labeled icon button" title="Nested">
                        <sm-item>Stevie</sm-item>
                        <sm-item>Stevie</sm-item>
                        <sm-item>Stevie</sm-item>
                        <div class="ui divider"></div>
                        <sm-item>
                            <sm-dropdown class="left pointing link" title="Stivie">
                                  <sm-item>Stevie</sm-item>
                                  <sm-item>Stevie</sm-item>
                                  <sm-item>Stevie</sm-item>
                            </sm-dropdown>
                        </sm-item>
                      </sm-dropdown> -->
                  <sm-accordion class="styled">
                      <sm-accordion-item>
                          <accordion-title icon="sidebar big">Level1 <i class="plus square outline icon"></i></accordion-title>
                          <accordion-content>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level1A </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level1B </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level1C </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level1D </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level1E </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                          </accordion-content>
                      </sm-accordion-item>
                      <sm-accordion-item>
                          <accordion-title>Level2 <i class="plus square outline icon"></i></accordion-title>
                          <accordion-content>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level2A </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level2B </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level2C </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                          </accordion-content>
                      </sm-accordion-item>
                      <sm-accordion-item>
                          <accordion-title>Level3 <i class="plus square outline icon"></i></accordion-title>
                          <accordion-content>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Leve3A </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level3B </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                              <sm-accordion-item>
                                  <accordion-title icon="sidebar big">Level3C </accordion-title>
                                  <accordion-content>
                                      vdfgdf
                                  </accordion-content>
                              </sm-accordion-item>
                          </accordion-content>
                      </sm-accordion-item>
                  </sm-accordion>
              </sm-sidebar>
          </sm-menu>
      </sm-menu>
  </div>

  <!-- banner -->
  <div class="banner-middle">
    <div class="ui container ">
        <div class="row ">
            <div class="col-sm-6">
                <div class="welcome_text">
                    Welcome back, Name
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <div class="inbk mr10">
                    <i class="location arrow icon"></i> Miami, Florifa
                </div>
                <div class="inbk temp">
                    <span><i class="cloud icon"></i> 28 &#8457;</span> Partly Cloudy
                </div>
            </div>
        </div>

        <div class="search-tab">
            <sm-tabs>
                <div class="text-find">Find:</div>
                <sm-tab title="All" [active]="true">
                    <sm-search placeholder="What would you like to do today?" (onSearch)="elementIcon.innerText = $event" [icon]="true" class="fluid" [debounce]="500"></sm-search>
                </sm-tab>
                <sm-tab title="Content">What would you like to do today?
                </sm-tab>
                <sm-tab title="People">What would you like to do today?
                </sm-tab>
                <sm-tab title="Help">What would you like to do today?
                </sm-tab>
            </sm-tabs>
        </div>
    </div>
  </div>
  <div class="banner-bottom">
      <div class="ui container">
          <div class="row">
              <div class="col-sm-3">
                  <span class="circle">
                      <i class="announcement icon"></i>
                  </span>
                  <span>Announcement</span>
              </div>
              <div class="col-sm-6">
                  <div >
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </div>
              </div>
              <div class="col-sm-3 text-right">
                  <div >
                      Learn More  <i class="arrow right icon"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

