@import '../../styles/variables.scss';
.banner-bg{
  background: url(../../assets/images/banner.jpg);
  //padding:0 15px;
  position: relative;
  height: 650px;
}

.ui.menu .item>img:not(.ui) {
  width: 10.5em;
}
.ui.menu {
  background-color: transparent;
  border: 0;
  box-shadow:none;
  font-family: Lato-Regular;
  font-size: 14px;
  border-radius: 0;
  a.item{
    color: $white;
    text-transform: uppercase;
    &:hover, &:focus{
        color: $white;
        background: transparent;
        font-family: 'Lato-Bold';
    }
    &:before {
       width: 0;
    }
  }
}
sm-dropdown .dropdown{
  height: 100%;
  color: $white !important;
  .text{
    text-transform: uppercase;
  }
  &:hover, &:focus{
    font-family: 'Lato-Bold';
      color: $white;
      background: transparent !important;
  }
  &:before {
      width: 0 !important;
  }
}
.header_nav {
  width:100%;

  position:fixed;
  top:0;
  left:0;
 -webkit-transition:0.25s linear all;
 -moz-transition:0.25s linear all;
 -o-transition:0.25s linear all;
 transition:0.25s linear all;
 z-index: 99999;
}

.header_nav--small .ui.menu {
  background-color:$white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  a.item{
    color: $theme-color1;
    text-transform: uppercase;
    &:hover, &:focus{
        color: $theme-color1;
        background: transparent;
        font-family: 'Lato-Bold';
    }
    &:before {
      width: 0;
    }
  }
  sm-dropdown .dropdown{
    color: $theme-color1 !important;

    &:hover, &:focus{
      color: $theme-color1;
    }
  }
}
.inverted.teal .ui.avatar.image{
  width: 163px;
  height: 33px;
  margin: 0;
}
.banner-middle{
  color: $white;
  position: absolute;
  top: calc(50% - 75px);
  width: 100%;
  .welcome_text, .temp span{
    font-size: 18px;
    font-family: Lato-Bold;
  }
  .search-tab{
    background: #fbfbfb;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 4px;
    .ui.attached.tabular.menu{
        display: inline-block;
        border: 0;
        width: auto;
        min-height: auto;
        a{
          display: inline-block;
        }
    }
    .ui.tabular.menu .item{
      color:#888;
      font-family: 'Lato-Bold';
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1.4285em;
      border: 0;
      background: transparent;
      &.active, &:hover, &:focus{
        color: $theme-color2;
        border: 0;
        font-family: 'Lato-Bold';
      }
    }
    .ui.attached.segment{
        max-width:100%;
        width:100%;
        margin:10px 0 0 0;
        color:#888;
        background: $white;
        border-top: 1px solid #D4D4D5;
        padding: 10px;

        .ui.search .prompt{
          border-radius: 4px;
          padding: 15px;
        }
        .ui.search .prompt~.search.icon{
          color: $theme-color2;
          opacity: 1;
        }

    }
  }
  .text-find{
    color: $theme-color1;
    float: left;
    margin-left: 10px;
    margin-top: 1px;
    font-family: 'Lato-Bold';
    font-size: 14px;
  }
}
.banner-bottom{
  background: rgba(0,0,0,0.18);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $white;
  padding: 15px 0;

  .circle{
    background: $white;
    color: $theme-color2;
    border-radius: 50%;
    padding: 4px 3px;
    margin-right: 10px;
    i{
      margin: 0;
      height: 17px;
      width: 17px;
    }
  }
  .temp{
    font-family: 'Lato-Bold';
  }
}

//sidebar
.ui.sidebar{
  top: 60px;
}

.header_logo{
  display: inline-block;
  a{
    display: inline-block;
  }
}
.menu_ui{
  display: inline-block;
}

.ui.inverted.teal.menu {
  background-color: $white;
}

