<footer>
  <div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-6 col-xs-6">
                <section>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo
                </section>
            </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-sm-3">
                  <header>
                      State Specific News
                  </header>
                  <section>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo
                  </section>
              </div>
              <div class="col-sm-3">
                  <header>
                      State Specific News
                  </header>
                  <section>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo
                  </section>
              </div>
              <div class="col-sm-3">
                  <header>
                      State Specific News
                  </header>
                  <section>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo
                  </section>
              </div>
              <div class="col-sm-3">
                  <header>
                      State Specific News
                  </header>
                  <section>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo
                  </section>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                 <section class="footer_link">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo
                  </section>
              </div>
          </div>
      </div>
  </div>
</footer>
