/* You can add global styles to this file, and also import other style files */
@import 'variables';
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.cdk-overlay-pane {
  position: absolute;
  z-index: 1000;
}
/***common cs***/
.text-right{
  text-align: right;
}
.inbk{
  display: inline-block;
}
.mr10{
  margin-right: 10px;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.date{
  font-size: 12px;
  font-family: normal;
}
