@import '../../styles/variables.scss';

.card{
  .ui.card {
      padding: 10px;
      border-radius: 0;
      margin-bottom: 20px;
      min-height: 361px;
  }
  card-title{
    color:  $theme-color2;
    font-weight: bold;
    font-size: 18px;
    font-family: Lato-Regular;
  }
  .date{
    color: rgba(0,0,0,.6);
    font-family: 'Lato-Light';
  }
  card-content{
    color: $text-color;
    font-size: 14px;
    font-family: 'Lato-Regular';
  }
  .extra.content{
    border-top: none !important;
    padding: 0 1em;
    font-weight: bold;
    a{
      color:  $theme-color1 !important;
    }
    font-family: 'Lato-Bold';
  }
}
