<header>3 Days ago</header>
<section>
  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/images/yammer1.png"/>
    </div>
    <div class="col-sm-9">
      <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
    </div>
  </div>
</section>

<header>3 Days ago</header>
<section>
  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/images/yammer2.png"/>
    </div>
    <div class="col-sm-9">
      <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
    </div>
  </div>
</section>

<header>3 Days ago</header>
<section>
  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/images/yammer1.png"/>
    </div>
    <div class="col-sm-9">
      <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
    </div>
  </div>
</section>

<header>3 Days ago</header>
<section>
  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/images/yammer2.png"/>
    </div>
    <div class="col-sm-9">
      <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
    </div>
  </div>
</section>

<header>3 Days ago</header>
<section>
  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/images/yammer1.png"/>
    </div>
    <div class="col-sm-9">
      <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
    </div>
  </div>
</section>

<header>3 Days ago</header>
<section>
  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/images/yammer2.png"/>
    </div>
    <div class="col-sm-9">
      <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
    </div>
  </div>
</section>

<header>3 Days ago</header>
<section>
  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/images/yammer1.png"/>
    </div>
    <div class="col-sm-9">
      <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
    </div>
  </div>
</section>
<div class="footer_link">
  <a>View all <i class="arrow right icon"></i></a>
</div>


