<div class="gray-bg">
  <div class="ui container">
    <div class="row">
      <div class="col-sm-4">
        <app-box [text]="'AMERICAN WATER WORKS COMPANY INC'"></app-box>
      </div>
      <div class="col-sm-4">
        <app-box [text]="'say HAPPY BIRTHDAY'"></app-box>
      </div>
      <div class="col-sm-4">
        <app-box [text]="'LIVE CAM'"></app-box>
      </div>
    </div>
  </div>
</div>

<div class="ui container">
    <div class="row">
      <div class="col-sm-9 left_content">
        <!-- News and Update -->
        <div class="common-heading">News & Updates</div>
        <div class="img-slider">
            <img src="../../assets/images/img2.png" alt="">
            <div class="overlay">
                <div class="img-text">
                  <div class="row">

                      <div class="col-sm-6">
                          <div class="tag">Corporate News</div>
                          <header>
                              Water for People is chnaging in Rwanda
                            <div class="date">09/05/2017</div>
                          </header>

                          <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo</section>
                          <footer>
                            <span>Read More <i class="arrow right icon"></i></span>
                          </footer>
                      </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
          </div>
          <div class="col-sm-4">
            <app-card [heading]="'Policy Update Story title goes here'" [img_src]="'../../assets/images/img4.png'"></app-card>
          </div>
          <div class="col-sm-4">
            <app-card [heading]="'News based on interest goes here'" [img_src]="'../../assets/images/img5.png'"></app-card>
          </div>
           <div class="col-sm-4">
            <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
          </div>
          <div class="col-sm-4">
            <app-card [heading]="'Policy Update Story title goes here'" [img_src]="'../../assets/images/img4.png'"></app-card>
          </div>
          <div class="col-sm-4">
            <app-card [heading]="'News based on interest goes here'" [img_src]="'../../assets/images/img5.png'"></app-card>
          </div>
        </div>
        <!--leadership connect -->
        <header class="common-heading">Leadership Connect</header>
        <div class="row">
          <div class="col-sm-4">
          <app-card [heading]="'Susan Storys Blog title here'" [img_src]="'../../assets/images/img3.png'"></app-card>
          </div>
          <div class="col-sm-4">
          <app-card [heading]="'Update from HR team can be here'" [img_src]="'../../assets/images/img4.png'"></app-card>
          </div>
          <div class="col-sm-4">
          <app-card [heading]="'News based on interest goes here'" [img_src]="'../../assets/images/img5.png'"></app-card>
          </div>
      </div>
      </div>
      <div class="col-sm-3">
        <header>Yammer</header>
        <app-yammer></app-yammer>
      </div>
    </div>
</div>
<!-- latest video -->
<hr>
<div class="ui container">
    <div class="common-heading">latest video <span>Main Channel</span></div>
    <div class="row">
      <div class="col-sm-6">
        <!-- <img src="../../assets/images/video2.png"> -->
        <app-video></app-video>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <app-video></app-video>
          </div>
          <div class="col-sm-6">
            <app-video></app-video>
          </div>
          <div class="col-sm-6">
              <app-video></app-video>
            </div>
            <div class="col-sm-6">
              <app-video></app-video>
            </div>
        </div>
      </div>
    </div>
</div>
<hr>
<!-- annual performance -->
<div class="ui container">
    <div class="common-heading">annual performance</div>
</div>
<hr>
<!-- find offices -->
<div class="ui container">
    <div class="common-heading">find offices</div>
</div>
