<div class="gray-bg">
  <div class="ui container">
    <div class="row">
      <div class="col-sm-4">
        <app-box></app-box>
      </div>
      <div class="col-sm-4">
        <app-box></app-box>
      </div>
      <div class="col-sm-4">
        <app-box></app-box>
      </div>
    </div>
  </div>
</div>

<div class="ui container">
    <div class="row">
      <div class="col-sm-9">
        <!-- News and Update -->
        <div class="img"></div>
        <div class="row">
          <div class="col-sm-4">
            <app-card></app-card>
          </div>
          <div class="col-sm-4">
            <app-card></app-card>
          </div>
          <div class="col-sm-4">
            <app-card></app-card>
          </div>
           <div class="col-sm-4">
            <app-card></app-card>
          </div>
          <div class="col-sm-4">
            <app-card></app-card>
          </div>
          <div class="col-sm-4">
            <app-card></app-card>
          </div>
        </div>
        <!--leadership connect -->
        <header>Leadership Connect</header>
        <div class="row">
          <div class="col-sm-4">
          <app-card></app-card>
          </div>
          <div class="col-sm-4">
          <app-card></app-card>
          </div>
          <div class="col-sm-4">
          <app-card></app-card>
          </div>
      </div>
      </div>
      <div class="col-sm-3">
        <header>Yammer</header>
        <p> Some text here</p>
      </div>
    </div>
</div>
<!-- latest video -->
<div class="ui container">
    <div class="row">
      <div class="col-sm-6">
      6
      </div>
      <div class="col-sm-6">
        <div class="col-sm-6">
        <app-video></app-video>
        </div>
        <div class="col-sm-6">
        <app-video></app-video>
        </div>
      </div>
    </div>
</div>

<!-- annual performance -->
<div class="ui container">
    <div class="">
      some text here
      </div>
</div>

<!-- find offices -->
<div class="ui container">
    <div class="row">
      some text here
      </div>
</div>

<!-- Google Map Integration -->
    <div class="">
      google maps
    </div>


