<div class="chat_box">
  <div class="chat_header">
    <span>Ask Puddle</span><i class="maximize icon"></i><i class="minus icon" style="float:right;"></i>
  </div>
  <div class="chat_body">
    <div>
      <i class="twitter icon" style="float:left;"></i>
    </div>
    <div class="box_content">
      <div class="time">Just now</div>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo</div>
      <div class="btn_group">
        <button class="btn1">Yes, Please</button>
        <button class="btn2"> NO, Thank YOU </button>
      </div>
    </div>
  </div>
  <div class="chat_footer">
    <sm-search  placeholder="Search..." (onSearch)="elementIcon.innerText = $event" [icon]="true"
        class="fluid" [debounce]="500">
    </sm-search>
  </div>
  </div>
