@import '../../styles/variables.scss';

.chat_box{
  border: 1px solid #888;
  padding: 8px 8px;
  border-radius: 15px;
}
.chat_header{
    padding: 8px 12px;
    background-color: #d83976;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-size: 15px;
    font-family: 'Lato-Regular';
}

.chat_body{
    padding: 10px 10px;
    border: 1px solid #d2d2d2;
    border-top: none;
    background-color: #efefef;
    margin-bottom: 10px;
}

.box_content{
    padding: 10px 8px;
    border: 1px solid #bfbaba;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 2px 2px 10px;
}

.btn1{
    padding: 2px 12px;
    border-radius: 30px;
    background-color: #33a23f;
    box-shadow: unset;
    color: white;
    font-family: Lato-Regular;
    font-size: 14px;
}
.btn2{
    padding: 2px 12px;
    border-radius: 30px;
    border: 2px solid $theme-color2;
    background-color: white;
    box-shadow: unset;
    color:$theme-color2;
    font-family: Lato-Regular;
    font-size: 14px;
}


