@import '../../styles/variables.scss';
.video_content{
  padding: 10px;
  border: 1px solid lighten($text-color , 35%) ;
  margin-bottom: 10px;

  section{
    h3{
      color: $theme-color1;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
