<div class="gray-bg">
  <!-- whats new today -->
  <div class="ui container">
    <div class="row">
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
      </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
      </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
      </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
      </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
      </div>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="row">
    <!-- Recent Searches -->
    <div class="col-sm-3">
            <div class="common-heading">|Recent Searches</div>
      <section>
        <div class="row">
          <div class="col-sm-3">
            <img src="../../assets/images/yammer1.png"/>
          </div>
          <div class="col-sm-9">
            <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-sm-3">
            <img src="../../assets/images/yammer1.png"/>
          </div>
          <div class="col-sm-9">
            <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-sm-3">
            <img src="../../assets/images/yammer1.png"/>
          </div>
          <div class="col-sm-9">
            <p>Jessica has replied to your comment on <a>xyz post:</a><span>'lorem ipsum dolar...'</span></p>
          </div>
        </div>
      </section>
    </div>
    <!-- Inspired by your interest -->
    <div class="col-sm-9">
      <div class="common-heading">|Inspired by your interest</div>
          <div class="row">
            <div class="col-sm">
              <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
            </div>
            <div class="col-sm">
              <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
            </div>
            <div class="col-sm">
              <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
            </div>
            <div class="col-sm">
              <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
            </div>
            <div class="col-sm">
              <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="row">
    <div class="col-sm">

      <sm-card class="card" image="../../assets/images/img3.png">
        <card-title> Calender</card-title>
        <card-subtitle class="date"> 09/05/2017 </card-subtitle>
        <card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo
        </card-content>
        <card-extra>
            <a>
                Learn More <i class="arrow right icon"></i>
            </a>
        </card-extra>
    </sm-card>

    </div>


    <div class="col-sm">
      <sm-card class="card" image="../../assets/images/img3.png">
        <card-title> Email</card-title>
        <card-subtitle class="date"> 09/05/2017 </card-subtitle>
        <card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo sed do eiusmod tempo
        </card-content>
        <card-extra>
            <a>
                Learn More <i class="arrow right icon"></i>
            </a>
        </card-extra>
    </sm-card>
      </div>
    <div class="col-sm">
      <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
      </div>
    <div class="col-sm">
      <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
      </div>
  </div>
</div>

<!-- Recommended by your circle -->
<div class="ui container">
  <div class="common-heading">Recommended by your circle </div>
  <div class="row">
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
      <div class="col-sm">
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
  </div>
</div>

<!-- Notification Section -->
<div class="ui container">
    <div class="row">
      <div class="col-sm-5">
        <div class="common-heading">My Voice</div>
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
      <div class="col-sm">
        <div class="common-heading">Trending</div>
        <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
        </div>
      <div class="col-sm">
        <div class="common-heading">Feeds</div>
      <app-card [heading]="'State Specific News Titile goes here'" [img_src]="'../../assets/images/img3.png'"></app-card>
      </div>
    </div>
</div>

