@import '../../styles/variables.scss';
.gray-bg{
  background: $gray;
}
.common-heading{
  font-family: 'Lato-Bold';
  font-size: 20px;
  color: $text-color;
  text-transform: uppercase;
  padding: 20px 0;
  font-family: 'Lato-Bold';
  span{
    color: $theme-color2;
    text-transform: none;
    font-style: italic;
    font-family: 'Lato-Bold';
  }
}
hr{
  background: lighten($text-color , 35%) ;
  border: 0;
  height: 1px;
}
.left_content{
  position: relative;
  padding-right: 15px;
  &:after{
    position: absolute;
    content: '';
    top: 0;
    width: 1px;
    height: 100%;
    background: lighten($text-color , 35%);
    right: 0;
  }
  .img-slider{
    position: relative;
    margin-bottom: 20px;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width:  100%;
    height: 100%;
    color: $white;
    font-family: 'Lato-Black';
    .tag{
      text-transform: uppercase;
      font-size: 12px;
      background: $theme-color1;
      display: inline;
      padding: 5px;
    }
    header{
      font-size: 22px;
      font-family: 'Lato-Bold';
      margin: 10px 0;
      line-height: 28px;
    }
    section{
      font-size: 14px;
      margin-bottom: 10px;
      font-family: 'Lato-Regular';
    }
    footer{
      font-size: 14px;
      font-family: 'Lato-Bold';

      span{
        background: $theme-color2;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Lato-Bold';
      }
    }
  }
  .img-text{
    top: 23%;
    position: absolute;
    padding: 20px;

  }
}
.gray-bg1{
  background: darken($gray, 10%);
  .row{
    padding: 20px 0;
  }
  .ui.search {
      margin-top: 12px !important;
      i{
        color: $theme-color1;
        opacity: 1;
      }
  }
}
.right_content{
  padding-left: 15px;
  app-yammer header{
    color: $theme-color1;
    margin-bottom: 5px;
  }
  section{
    color: $text-color;
    margin-bottom: 15px;
  }
  .footer_link a{
    color: $theme-color2;
    font-size: 18px;
  }
}
.annual_data{
  margin-top: 30px;
  header{
    font-size: 18px;
    font-family: 'Lato-Bold';
  }
  p{
    overflow: hidden;
  }
  .col-sm-3{
    margin-bottom: 15px;
  }

}
.icon-circle{
  float: left;
  &.blue{
    color:#05B7EE;
  }
  &.blue1{
    color: $theme-color1;
  }
  &.yellow{
    color:#FEC00C;
  }
  &.green{
    color: #79BD45;
  }
  &.orange{
    color: #F79C43;
  }
}
.table{
  //border:1px solid lighten($text-color , 35%) ;
  td,th{
    padding:10px;
  }
  thead{
    background: $theme-color1;
    font-size: 16px;
    font-family: 'Lato-Bold';
    color: $white;
    // border: 1px solid $theme-color1;
    th{
      border-right: 1px solid $white;
      text-transform: uppercase;
      text-align: left;
      &:last-child{
        border-right: 0;
      }
    }
  }
  tbody{
    td{
      border:1px solid lighten($text-color , 35%) ;
      color:darken($text-color , 50%);
      &:last-child{
        border-left: 0;
      }
      &:first-child{
        border-right: 0;
      }
    }
  }
}
.orange-bg{
    background: #F79C43;
    i{
      color: $white;
    }
}
.blue-bg{
  background:#05B7EE;
  i{
    color: $white;
  }
}
.blue1-bg{
  background: $theme-color1;
  i{
    color: $white;
  }
}
.yellow-bg{
  background:#FEC00C;
  i{
    color: $white;
  }
}
.green-bg{
  background: #79BD45;
  i{
    color: $white;
  }
}
.orange-lt-bg{
  background: lighten(#F79C43, 30%);
}
.blue-lt-bg{
background: lighten(#05B7EE, 30%);;
}
.blue1-lt-bg{
background:  lighten($theme-color1, 30%);;
}
.yellow-lt-bg{
background:lighten(#FEC00C, 30%);;
}
.green-lt-bg{
background: lighten(#79BD45, 30%);;
}

