<div class="banner-bg">
    <!-- <sm-menu title="Angular2" class="inverted teal" logo="../../assets/images/logo.png">
      <a sm-item *ngFor="let item of items" [icon]="item.icon">{{item?.title}}</a>

      <sm-menu class="menu right secondary">
          <a sm-item href="#/elements/menu"
              image="http://semantic-ui.com/images/avatar/small/stevie.jpg">Elliot Fu</a>
          <a sm-item icon="sidebar big"></a>
      </sm-menu>
  </sm-menu> -->

<div class="main ui container">
    <sm-menu title="AmWater" class="inverted teal" logo="../../assets/images/logo.png">
        <a sm-item href="#/elements/menu" *ngFor="let item of items" [icon]="item?.icon">{{item?.title}}</a>

        <sm-menu class="menu right secondary icon">
            <a sm-item href="#/elements/menu"
            image="http://semantic-ui.com/images/avatar/small/stevie.jpg">Elliot Fu</a>

            <a sm-item icon="sidebar big" (click)="menuSidebar.show({transition: 'overlay'})"></a>
            <sm-sidebar class="left vertical inverted sidebar labeled menu teal huge" #menuSidebar>
                <a class="item">
                    <i class="home icon"></i>
                    Home
                </a>
                <a class="item">
                    <i class="block layout icon"></i>
                    Topics
                </a>
                <a class="item">
                    <i class="smile icon"></i>
                    Friends
                </a>
            </sm-sidebar>
        </sm-menu>
    </sm-menu>

</div>
</div>
